.page4 {
    min-height: 100vh;
    padding: 160px 0;
    .container {
        .video {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__text {
                h2 {
                    color: $txt-Color;
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 35px;
                    position: relative;
                }
                p {
                    font-size: 14px;
                    font-weight: 400;
                    color: $secon-txt-Color;
                    line-height: 20px;
                    margin-bottom: 35px;
                }

                a {
                    color: $primary-Color;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 14px;
                    font-weight: 700;
                }

                h2::before {
                    content: "";
                    position: absolute;
                    width: 94px;
                    top: -35px;
                    height: 7px;
                    background-color: $danger-Color;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .page4 {
        .container {
            .video {
                flex-direction: column;
                &__text {
                    margin-bottom: 50px;
                }
            }
        }
    }
    
}